{% extends "FIDUSTREAMVideoBundle::base.html.twig" %}

{% block content %}
  <h2>Vidéos à valider</h2>
   
        {% for video in results %}
            <div class="img-thumbnail video-display col-lg-4" >
                <div class="row">
                    <div class="col-lg-6" >
                        <a href="{{ path('fidustream_video_player', { 'id': video.id }) }}">
                            <img class="img-responsive" src="{{ asset(video.getThumbnailAsset) }}" alt="{{video.title}}" />
                            
                        </a>
                    </div>
                    <div class="col-lg-6" >
                        <a href="{{ path('fidustream_video_player', { 'id': video.id }) }}">
                            {{video.title}}
                        </a>
                        <div class="row">
                           <font size="0" color="gray"> 
                                Le {{video.uploadDate|date('d/m/Y')}} à {{video.uploadDate|date('H')}}h{{video.uploadDate|date('i')}}
                            </font>
                        </div>
                        <div class="row">
                            <font size="0" color="gray"> 
                                Par {{video.contributor.username}}
                            </font>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1" ></div>
            {% else %}
                <li>Pas de vidéo à valider.</li>
        {% endfor %}
{% endblock %}